*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:teal;
}

.flex-container > div {
    background:linear-gradient(to right,rgb(188, 233, 24),rgb(223, 78, 165));
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 1.5em;
    transition: width 0.4s;
    box-shadow: 5px 10px 8px #888888;
  }
  .flex-container>div:hover{
    width: 240px;
    background:linear-gradient(to left,rgb(188, 233, 24),rgb(61, 227, 61));
    /* transform: translate(50px,100px); */
  }
  button{
      width: 80px;
      border-radius: 10px;

  }
  button:hover{
      background-color: aqua;
  }