.ncert-p, .flex-element p{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    color: black;
    font-family: Lato,sans-serif;
}

.ncert-p b{
    color:#92b4ec;
}

#element1 li, #element1 p{
    margin-left: 7%;
    margin-right: 7%;
    font-size: 20px;
    text-align: justify;
    color: black;
    font-family: Lato,sans-serif;
}

.ncert-h2{
    text-align: center;
    font-size: 32px;
    color: #003264;
    font-family: 'Montserrat', sans-serif;
}

.ncert-h1{
    background: rgb(139,193,241);
    background: linear-gradient(90deg, rgba(139,193,241,1) 0%, rgba(65,132,191,1) 50%, rgba(151,197,237,1) 100%);
    font-size: 45px;
    padding: 80px 20px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


#element1{
    box-sizing: border-box;
    align-items: center;
    color: black;
    margin-left: 15%;
    padding: 1vh 0vh;
    margin-right: 15%;
    margin-top: 20px;
    border:1px solid skyblue;
    border-radius: 20px;
    /* background-color: #b9cef0; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.flex-element img{
    box-shadow: 3px 3px white, 7px 7px #ffe69a,  9px 9px 10px lightgray;
    margin-bottom: 15px;
}

.flex-element{
    flex: 400px;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button2{
    font-size: 18px;
    font-weight: 600;
    padding: 8px 30px;
    border:3px solid skyblue;
    background-color: white;
    color: skyblue!important;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
}

.button2:hover{
    background-color: skyblue;
    color: white!important;
    cursor: pointer;
    text-decoration: none;
}

.button2:active{
    transform: scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 2px;
}


.imagecontainer{
    position: relative;
}

#abacus{
    position: absolute;
    margin-top: 10vh;
    margin-left: 4vw;
    transform: rotate(15deg);
}

#cone{
    position: absolute;
    margin-top: 0vh;
    margin-left: 88vw;
    transform: rotate(-30deg);
}

#cylinder{
    position: absolute;
    margin-top: 40vh;
    margin-left: 88vw;
    transform: rotate(25deg);
}


@media only screen and (max-width: 550px){
    .ncert-p, .flex-element p{
        margin: 3% 7%;
        font-size: 20px;
        text-align:justify;
        font-family: Lato,sans-serif;
    }

    .flex-element p{
        text-align: center!important;
    }

    #element1 li, #element1 p{
        margin-left: 9%;
        margin-right: 9%;
        font-size: 20px;
        text-align: justify;
        font-family: Lato,sans-serif;
    }

    .ncert-h2{
        font-size: 25px;
    }

    #element1{
        margin-left: 4%;
        padding: 1vh 0vh;
        margin-right: 4%;
        margin-top: 20px;
    }

    .flex-element img{
        width: 76%;
    }
}

@media only screen and (max-width: 1200px){
    #abacus, #cone, #cylinder{
        display: none;
    }
}

