.ncert-p, .ncert-flex-element p{
    margin: 3% 15%;
    font-size: 20px;
    font-family: Lato,sans-serif;
}

.ncert-p b{
    color:#92b4ec;
}

#ncert-element1 li, #ncert-element1 p{
    margin: 0 7%;
    font-size: 20px;
    text-align: justify;
    font-family: Lato,sans-serif;
}

.ncert-h2{
    text-align: center;
    font-size: 32px;
    color: #003264;
    font-family: 'Montserrat', sans-serif;
}

.ncert-h1{
    background: rgb(139,193,241);
    background: linear-gradient(90deg, rgba(139,193,241,1) 0%, rgba(65,132,191,1) 50%, rgba(151,197,237,1) 100%);
    font-size: 45px;
    padding: 80px 20px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


#ncert-element1{
    box-sizing: border-box;
    align-items: center;
    margin:0 15%;
    padding: 1vh 0;
    border:1px solid skyblue;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.ncert-flex-container{
    display: flex;
    flex-wrap: wrap;
    margin:0 10%;
}

.ncert-flex-element img{
    box-shadow: 3px 3px white, 7px 7px #ffe69a,  9px 9px 10px lightgray;
    margin-bottom: 15px;
}

.ncert-flex-element{
    flex: 400px;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    margin:25px 0;
}

.ncert-button2{
    font-size: 18px;
    font-weight: 600;
    padding: 8px 30px;
    border:3px solid skyblue;
    background-color: white;
    color: skyblue!important;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
}

.ncert-button2:hover{
    background-color: skyblue;
    color: white!important;
    cursor: pointer;
    text-decoration: none;
}

.ncert-button2:active{
    transform: scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 2px;
}


.ncert-imagecontainer{
    position: relative;
}

#ncert-cone{
    position: absolute;
    top: 5vh;
    left: 87vw;
    transform: rotate(-30deg);
}

#ncert-abacus{
    position: absolute;
    top: 45vh;
    left: 3vw;
    transform: rotate(15deg);
}

#ncert-cylinder{
    position: absolute;
    top: 4vh;
    left: 87vw;
    transform: rotate(25deg);
}


@media only screen and (max-width: 920px){
    .ncert-p, .ncert-flex-element p{
        margin: 6% 7%;
        font-size: 20px;
        text-align:justify;
        font-family: Lato,sans-serif;
    }

    .ncert-flex-element p{
        text-align: center!important;
    }

    #ncert-element1 li, #ncert-element1 p{
        margin:0 9%;
        text-align: justify;
        font-family: Lato,sans-serif;
    }

    .ncert-h2{
        font-size: 25px;
    }

    #ncert-element1{
        margin:0 4%;
        padding: 1vh 0vh;
    }

    .ncert-flex-element img{
        width: 76%;
    }

    #ncert-abacus, #ncert-cone, #ncert-cylinder{
        display: none;
    }
}

